.App {
  text-align: center;
}

h1 {
  font-family: 'Fugaz One', cursive;
  font-size: 72px;
  color: tomato;
  text-shadow: 2px 2px 5px black;
}

footer {
  text-align: center;
}

a {
  color: pink;
}